<%= render "shared/header" %>

<%# share_calendar_createページと同じCSSを使っています %>

<div class='share-calender-create-page'>

  <div class='completed'>
    <%= "スケジュールの変更が完了しました" %>
  </div>

  <div class='top-page-return'>
    <%= link_to "#{@calendar.calendar_name}のカレンダーに戻る", calendar_path(@calendar.id) %>

    <%= link_to "トップページに戻る", root_path %>
  </div>
  
</div>