<%= render "shared/header" %>

<%# share-calendar-createページと同じCSSを使っています %>

<div class='share-calender-create-page'>

  <div class='completed'>
    <%= "カレンダーの削除が完了しました" %>
  </div>

  <div class='top-page-return'>
    <%= link_to "トップページに戻る", root_path %>
  </div>

</div>

