.simple-calendar {
  .day {
   
  }

  .wday-0 {
      color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .current-month.today {
    background-color:  #FFFF8F;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {
    background-color: white;
  }

  .has-events {}

  .table-striped{
    background-color: white;
  }
}