.schedule-new-page{
  background-color: #2e6c83;
  height: calc(100vh - 80px);
}

.schedule-new-name{
  font-size: 30px;
  padding: 10px 0 0 50px;
  color: #ced7e1;
}

.schedule-form{
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.schedule-form-text{
  margin: 10px auto;
  width: 50vw;
  color: white;
}

.schedule-button{
  background-color: white;
  border: 5px double #2e6c83;
  width: 15vw;
  margin: 20px auto;
  font-size: 22px;
  font-weight: bold;
  color: #2e6c83;
}

